<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{route.name}} | {{app.name}}</title>
		<link href="core.css" rel="stylesheet">
		<style>
			/*body {
				--route-color: {{route.color}};
				--route-text-color: {{route.text_color}};
			}*/
		</style>
	</head>
	<body><div class="main-area">
		<input id="show-schedule" name="route-tabs" type="radio" hidden checked>
		<input id="show-map" name="route-tabs" type="radio" hidden>

		<link href="toolbar.css" rel="stylesheet">
		<header class="toolbar">
			<a class="toolbar-button" title="Up" href="/">
				Up
			</a>
			<h1 class="app-name">{{app.name}}</h1>
			<a class="toolbar-button" title="About" href="/about">
				About
			</a>
		</header>
		<nav class="route-tabs">
			<label class="route-tab" for="show-schedule">
				Trips
			</label>
			<label class="route-tab" for="show-map">
				Map
			</label>
		</nav>

		<main class="tab-content">
			<nav class="list">
				<link href="trip-info.css" rel="stylesheet">
				<header class="route-info">
					<div class="route-title">
						<h2 class="route-name">{{route.name}}</h2>
					</div>

					<div class="info-box">
						<p
							title="Bus route location"
							class="route-info-text route-location"
						>
							{{route.info.location}}
						</p>
						<p
							title="Next bus stop reached"
							class="route-info-text trip-next-stop"
						>
							{{route.info.next_stop}}
						</p>
					</div>
				</header>

				<link href="route-trip-list.css" rel="stylesheet">
				<h3>To Hilo</h3>
				<ul class="trip-list">
					<li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li>
					<li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li><li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li><li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li><li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li><li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li><li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li><li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li>
				</ul>

				<h3>To Honokaa</h3>
				<ul class="trip-list">
					<li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li><li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li><li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li><li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li><li class="trip-item">
						<a class="trip-link" href="HHN000">12:15am - 1:05am | Daily</a>
					</li>
				</ul>
			</nav>
			<link href="trip-map.css" rel="stylesheet">
			<section class="map">
				<noscript>
					<p class="map-popup error">JavaScript must be enabled to view the map</p>
				</noscript>
			</section>
		</main>
	</div></body>
</html>
